nav {
    background: #2D2E2E;

    ul {
        margin: 0;
        height:70px;
        span {

            a {
                float: right;
                color: #fff;
                padding: 25px;
            }

            .activated {
                background-color: #00a8ff;
            }
        }
    }
}